﻿@model JobBoard.Models.Job

@{
    ViewBag.Title = "Job Delete";
}

<h1 class="text-center">Job Delete</h1>

<h4>Are you sure you want to delete this?</h4>

<div class="card">  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiresAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiresAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a href="@Url.Action("Index","Jobs")" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    }
</div>
