﻿@model JobBoard.Models.Job

@{
    ViewBag.Title = "Job Details";
}

<h1 class="text-center">Job Details</h1>

<div class="card">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiresAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiresAt)
        </dd>

    </dl>

    <div class="col-md-offset-2 col-md-10 text-center">
        <a class="btn btn btn-warning" href="@Url.Action("Edit", "Jobs", new { id = Model.job })">Edit</a>
        <a class="btn btn btn-secondary" href="@Url.Action("Index", "Jobs")">Back</a>
    </div>

</div>
