﻿@model JobBoard.Models.Job

@{
    ViewBag.Title = "Edit Job";
}

<h1 class="text-center">Edit Job</h1>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("id", Model.job)

            <div class="form-group row">
                @Html.LabelFor(model => model.jobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.jobTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.jobTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row d-none">
                @Html.LabelFor(model => model.createdAt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group date" id='dtpCreatedAt'>
                    @Html.TextBoxFor(model => model.createdAt, htmlAttributes: new { @class = "form-control bg-white", type = "text", @readonly = "readonly" })
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.createdAt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.expiresAt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group date" id='dtpExpiresAt'>
                    @Html.TextBoxFor(model => model.expiresAt, htmlAttributes: new { @class = "form-control bg-white", type = "text", @readonly = "readonly" })
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.expiresAt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index","Jobs")" class="btn btn-secondary">Cancel</a>
            </div>

        }
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $('#dtpCreatedAt').datetimepicker({
            format: 'DD/MM/YYYY',
            ignoreReadonly: true,
            defaultDate: new Date(),
        });

        $('#dtpExpiresAt').datetimepicker({
            format: 'DD/MM/YYYY',
            ignoreReadonly: true,
            defaultDate: new Date(),
        });

    </script>
}