﻿@model IEnumerable<JobBoard.Models.Job>

@{
    ViewBag.Title = "Jobs";
}

<h1 class="text-center">Jobs</h1>

<nav class="navbar navbar-expand navbar-light bg-light mb-3">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create","Jobs")">
                    <i class="far fa-plus-square"></i> New
                </a>
            </li>           
        </ul>
    </div>
</nav>

<div class="card">
    <table class="table" id="jobList">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.job)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.expiresAt)
                </th>
                @if (Model.Count() > 0)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.jobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @item.createdAt.ToShortDateString()
                        </td>
                        <td>
                            @item.expiresAt.ToShortDateString()
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("Details", "Jobs", new { id = item.job })" data-toggle="tooltip" title="Details">
                                <i class="far fa-list-alt"></i>
                            </a>
                            <a class="btn btn-warning" href="@Url.Action("Edit", "Jobs", new { id = item.job })" data-toggle="tooltip" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Jobs", new { id = item.job })" data-toggle="tooltip" title="Delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            const options = {
                "searching": false,
                "ordering": false,                
            }
            $('#jobList').DataTable(options);
        });
    </script>
}